Repository Cardinal-Cryptography/aleph-node, pull requests merged in 2023-08, with the labels that each got.

#1354 A0-2998: Fix PRs on fork
  .github/workflows/_check-code-formatting.yml
  .github/workflows/_check-vars-and-secrets.yml
  .github/workflows/on-pull-request-commit.yml
Labels: trigger:create-featurenet

#1357 A0-3053: Fix contracts/scripts/clean.sh
  contracts/scripts/clean.sh
Labels: state:button-e2e-tests-succeeded

#1356 A0-2902: First e2e test on feature nets in nightly pipeline
  .github/actions/create-featurenet/action.yml
  .github/actions/delete-featurenet/action.yml
  .github/workflows/_build-production-node-and-e2e-client-image.yml
  .github/workflows/create-featurenet.yml
  .github/workflows/nightly-logic-e2e-tests.yml
  .github/workflows/nightly-synthetic-network-e2e-tests.yml
  README.md
  e2e-tests/Dockerfile
  e2e-tests/README.md
Labels: state:created-featurenet

#1366 A0-3053: Add logging to e2e button tests
  .github/actions/run-e2e-test/action.yml
  .github/workflows/_run-button-e2e-tests.yml
  aleph-client/src/contract/mod.rs
  e2e-tests/src/test/button_game/helpers.rs
  e2e-tests/src/test/button_game/mod.rs
Labels: state:button-e2e-tests-succeeded
