Repository Cardinal-Cryptography/aleph-node, pull requests merged in 2023-09, with the labels that each got.

#1378 A0-2735: Change featurenets to use kustomize
  .github/actions/create-featurenet/action.yml
  .github/actions/delete-featurenet/action.yml
  .github/actions/wait-for-finalized-heads/action.yml
  .github/workflows/_delete-featurenet.yml
  .github/workflows/create-featurenet.yml
  .github/workflows/nightly-short-session-e2e-tests.yml
  .github/workflows/updatenet-create.yml
  .github/workflows/updatenet-delete.yml
  .github/workflows/updatenet-update.yml
Labels: state:deleted-featurenet

#1392 A0-3204: Change featurenet workflows to use external featurenet actions
  .github/actions/create-featurenet/action.yml
  .github/actions/delete-featurenet/action.yml
  .github/actions/get-node-system-version/action.yml
  .github/actions/wait-for-finalized-heads/action.yml
  .github/workflows/create-featurenet.yml
  .github/workflows/delete-featurenet.yml
  .github/workflows/deploy-to-mainnet.yml
  .github/workflows/nightly-short-session-e2e-tests.yml
  .github/workflows/updatenet-create.yml
  .github/workflows/updatenet-delete.yml
  .github/workflows/updatenet-update.yml
Labels: state:deleted-featurenet

#1405 A0-3150: bump to 1.0.0
  Cargo.lock
  Cargo.toml
  aleph-client/Cargo.lock
  aleph-client/Cargo.toml
  aleph-client/rust-toolchain.toml
  aleph-client/src/aleph_zero.rs
  aleph-client/src/aleph_zero_liminal.rs
  aleph-client/src/lib.rs
  aleph-client/src/pallets/contract.rs
  aleph-client/src/pallets/multisig.rs
  aleph-client/src/pallets/staking.rs
  baby-liminal-extension/Cargo.lock
  baby-liminal-extension/Cargo.toml
  benches/payout-stakers/Cargo.lock
  benches/payout-stakers/Cargo.toml
  benches/payout-stakers/rust-toolchain.toml
  bin/cliain/Cargo.lock
  bin/cliain/Cargo.toml
  bin/cliain/rust-toolchain.toml
  bin/cliain/src/commands.rs
  bin/cliain/src/contracts.rs
  bin/cliain/src/lib.rs
  bin/cliain/src/main.rs
  bin/finalizer/Cargo.lock
  bin/finalizer/Cargo.toml
  bin/finalizer/rust-toolchain.toml
  bin/node/src/chain_spec.rs
  bin/node/src/cli.rs
  bin/node/src/main.rs
  bin/node/src/rpc.rs
  bin/runtime/Cargo.toml
  bin/runtime/src/lib.rs
  e2e-tests/Cargo.lock
  e2e-tests/Cargo.toml
  e2e-tests/rust-toolchain.toml
  e2e-tests/src/validators.rs
  flooder/Cargo.lock
  flooder/Cargo.toml
  flooder/rust-toolchain.toml
  fork-off/Cargo.lock
  fork-off/Cargo.toml
  pallets/aleph/Cargo.toml
  pallets/aleph/src/lib.rs
  pallets/aleph/src/mock.rs
  pallets/baby-liminal/Cargo.lock
  pallets/baby-liminal/Cargo.toml
  pallets/baby-liminal/src/tests/setup.rs
  pallets/committee-management/Cargo.toml
  pallets/committee-management/src/lib.rs
  pallets/committee-management/src/manager.rs
  pallets/elections/Cargo.toml
  pallets/elections/src/lib.rs
  pallets/elections/src/mock.rs
  primitives/src/lib.rs
Labels: trigger:create-featurenet

#1409 A0-3223: Change featurenet actions to v2
  .github/workflows/_check-vars-and-secrets.yml
  .github/workflows/create-featurenet.yml
  .github/workflows/delete-featurenet.yml
  .github/workflows/nightly-short-session-e2e-tests.yml
  .github/workflows/updatenet-create.yml
  .github/workflows/updatenet-delete.yml
  .github/workflows/updatenet-update.yml
Labels: state:created-featurenet

#1415 A0-3236: Fix dry-running when value is nonzero
  aleph-client/Cargo.toml
  aleph-client/src/contract/mod.rs
  e2e-tests/Cargo.lock
Labels: state:button-e2e-tests-succeeded
