Repository Cardinal-Cryptography/aleph-node, pull requests merged in 2023-04, with the labels that each got.

#1121 A0-2207: Fix invalid commit tag for hotfix featurenets
  .github/actions/build-featurenet-chainspec/action.yml
Labels: state:deleted-featurenet

#1136 A0-2350: rewards in full units
  contracts/button/lib.rs
  contracts/marketplace/lib.rs
  contracts/scripts/deploy.sh
Labels: DEPLOYED-CONTRACTS

#1065 A0-1798: Replace old justification sync
  bin/node/src/aleph_node_rpc.rs
  bin/node/src/rpc.rs
  bin/node/src/service.rs
  finality-aleph/src/finalization.rs
  finality-aleph/src/import.rs
  finality-aleph/src/justification/compatibility.rs
  finality-aleph/src/justification/handler.rs
  finality-aleph/src/justification/mod.rs
  finality-aleph/src/justification/requester.rs
  finality-aleph/src/justification/scheduler.rs
  finality-aleph/src/lib.rs
  finality-aleph/src/network/gossip/mod.rs
  finality-aleph/src/network/gossip/service.rs
  finality-aleph/src/network/mod.rs
  finality-aleph/src/network/session/compatibility.rs
  finality-aleph/src/network/substrate.rs
  finality-aleph/src/nodes.rs
  finality-aleph/src/nodes/mod.rs
  finality-aleph/src/party/manager/aggregator.rs
  finality-aleph/src/party/manager/mod.rs
  finality-aleph/src/session.rs
  finality-aleph/src/session_map.rs
  finality-aleph/src/sync/forest/mod.rs
  finality-aleph/src/sync/mod.rs
  finality-aleph/src/sync/substrate/mod.rs
  finality-aleph/src/sync/substrate/verification/verifier.rs
  finality-aleph/src/testing/justification.rs
  finality-aleph/src/testing/mocks/backend.rs
  finality-aleph/src/testing/mocks/justification_handler_config.rs
  finality-aleph/src/testing/mocks/mod.rs
  finality-aleph/src/testing/mocks/session_info.rs
  finality-aleph/src/testing/mod.rs
  finality-aleph/src/testing/network.rs
Labels: DESTROYED, state:created-featurenet

#1150 A0-2418: fix scores regression
  contracts/button/lib.rs
  contracts/env/dev
  contracts/env/devnet
  contracts/marketplace/lib.rs
  contracts/scripts/deploy.sh
  e2e-tests/src/test/button_game/mod.rs
Labels: DEPLOYED-CONTRACTS

#1128 A0-2321: Add more control over featurenets
  .github/actions/build-featurenet-chainspec/action.yml
  .github/actions/create-featurenet/action.yml
  .github/actions/delete-featurenet/action.yml
  .github/workflows/_create-featurenet.yml
  .github/workflows/_delete-featurenet.yml
  .github/workflows/on-pull-request-close.yml
  .github/workflows/on-pull-request-label.yml
  .github/workflows/updatenet-create.yml
  .github/workflows/updatenet-delete.yml
  .github/workflows/updatenet-update.yml
Labels: state:deleted-featurenet
