Repository Cardinal-Cryptography/aleph-node, pull requests merged in 2023-07, with the labels that each got.

#1266 A0-2712: Featurenets works now on short session.
  .github/actions/create-featurenet/action.yml
  .github/actions/delete-featurenet/action.yml
  .github/workflows/_build-and-push-pull-request-image-to-featurenets.yml
  .github/workflows/_store-test-node-and-runtime.yml
  .github/workflows/create-featurenet.yml
  .github/workflows/on-pull-request-commit.yml
  .github/workflows/on-pull-request-label.yml
  .github/workflows/updatenet-create.yml
  .github/workflows/updatenet-update.yml
  e2e-tests/README.md
Labels: state:created-featurenet

#1274 A0-2782: Add mkdir to contracts/deploy.sh and make button e2e tests triggerable by PR label
  .github/workflows/_check-vars-and-secrets.yml
  .github/workflows/_run-button-e2e-tests.yml
  .github/workflows/_run-e2e-tests.yml
  .github/workflows/build-and-push-cliain.yml
  .github/workflows/on-main-branch-commit-run-button-e2e.yml
  .github/workflows/on-pull-request-commit.yml
  .github/workflows/on-pull-request-label.yml
  contracts/scripts/deploy.sh
Labels: state:deleted-featurenet, state:button-e2e-tests-failed

#1268 A0-000: Rolling update test
  local-tests/README.md
  local-tests/chainrunner/chain.py
  local-tests/chainrunner/node.py
  local-tests/chainrunner/utils.py
  local-tests/requirements.txt
  local-tests/rolling_update.ipynb
  scripts/run_nodes.sh
Labels: [AZERO] DEPLOY-CONTRACTS
